<!DOCTYPE html>
<html class="route-index">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Overwatch Counter Picker</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
</head>
<body>
  <div class="header">
    <div class="container">
      <h1 class="title">Overwatch Counter Picker</h1>
    </div>
  </div>
  <div class="container">
    <form method="post" enctype="multipart/form-data">
      <label for="file" class="label">Overwatch screenshot:</label>
      <input type="file" class="input" id="file" name="file">
      <button type="submit" class="button is-primary">Upload</button>
    </form>
  </div>
</body>
</html>
