<!DOCTYPE html>
<html class="route-index">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Overwatch Counter Picker</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <a href="/">Overwatch Counter Picker</a>
        </h1>
        <p class="subtitle">
          Upload a screenshot of your Overwatch team composition to figure
          out which hero you should play.
        </p>
      </div>
    </div>
  </header>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-half">
          <form method="post" enctype="multipart/form-data">
            <label for="file" class="label">Overwatch screenshot:</label>
            <div class="control">
              <input type="file" class="input" id="file" name="file">
            </div>
            <button type="submit" class="is-large button is-primary">Upload</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
