{% extends "layout.html" %}
{% block title %}Hero Suggestion - {% endblock %}
{% block header %}
  <a class="stats-link is-pulled-right" href="/stats">
    View stats
  </a>
{% endblock %}
{% block page_title %}/ <span class="page-title">Bad Upload</span>{% endblock %}
{% block content %}
  <div class="container content has-text-centered">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <h1>
          Hmm, the file you uploaded doesn't seem
          to be the right kind of screenshot.
        </h1>
        <p>Maybe try uploading a different file?</p>
        <p>Sorry, photos of your TV won't work, console players. :(</p>
        <div id="sample-screenshot-container">
          <p>Upload a screenshot like this:</p>
          <img class="sample-screenshot" src="{{ url_for('static', filename='sample-screenshot.jpg') }}" alt="Sample screenshot">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
