<!DOCTYPE html>
<html class="route-index">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Overwatch Counter Picker</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <a href="/">Overwatch Counter Picker</a>
        </h1>
        <p class="subtitle">
          Upload a screenshot of your Overwatch team composition to figure
          out which hero you should play.
        </p>
      </div>
    </div>
  </header>
  <section class="section">
    <div class="container has-text-centered content">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <form method="post" class="upload-form" id="screenshot-upload-form" enctype="multipart/form-data">
            <div class="control has-addons">
              <input type="file" class="file-input" id="file" name="file">
              <label for="file" id="file-input-label" class="has-text-centered label is-large is-expanded">
                Choose an Overwatch screenshot
              </label>
              <button type="submit" id="submit-button" class="is-large button is-primary">
                Upload
              </button>
            </div>
            <span class="help">You can drag and drop a screenshot.</span>
            <span class="help is-danger" id="file-type-warning" style="display: none">
              Choose a .jpg, .jpeg, .png, or .gif
            </span>
          </form>
          <div id="sample-screenshot-container">
            <p>Upload a screenshot like this:</p>
            <img class="sample-screenshot" src="{{ url_for('static', filename='sample-screenshot.jpg') }}" alt="Sample screenshot">
          </div>
          <div id="screenshot-preview-container" style="display: none">
            <p>Your screenshot:</p>
            <img src="" id="screenshot-preview" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <ul class="list-inline">
          <li>Built by Sarah</li>
          <li><a href="https://github.com/cheshire137/overwatch-counter-picker">View source</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
