.overwatch-hero {
  border-width: 1px;
  border-style: solid;
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
}

.overwatch-hero.pick {
  border-color: #c5fd36;
}

.overwatch-hero.enemy {
  border-color: #ed1228;
}

.overwatch-hero.ally {
  border-color: #43c0f9;
}

.overwatch-hero.pick .overwatch-hero-portrait {
  width: 180px;
  height: 180px;
}

.overwatch-hero.enemy .overwatch-hero-portrait,
.overwatch-hero.ally .overwatch-hero-portrait {
  width: 100px;
  height: 100px;
}

.overwatch-hero-name {

}

.allies-container {

}

.picks-container {

}

.enemies-container {

}

.player-choice-ok-container .overwatch-hero {
  margin-bottom: 1em;
}

.list-inline li {
  list-style: none;
  display: inline-block;
}

.list-inline li + li {
  margin-left: 1em;
}
